[submodule "talos"]
	path = talos
	url = git@gitlab.com:trivialsec/feed-processor-talosintelligence.git

[submodule "dataplane"]
	path = dataplane
	url = git@gitlab.com:trivialsec/feed-processor-dataplane.git

[submodule "proofpoint"]
	path = proofpoint
	url = git@gitlab.com:trivialsec/feed-processor-proofpoint.git

[submodule "binarydefense"]
	path = binarydefense
	url = git@gitlab.com:trivialsec/feed-processor-binarydefense.git

[submodule "bruteforceblocker"]
	path = bruteforceblocker
	url = git@gitlab.com:trivialsec/feed-processor-bruteforceblocker.git

[submodule "charles-haleys"]
	path = haleys
	url = git@gitlab.com:trivialsec/feed-processor-charles-haleys.git

[submodule "cruzit"]
	path = cruzit
	url = git@gitlab.com:trivialsec/feed-processor-cruzit.git

[submodule "darklist"]
	path = darklist
	url = git@gitlab.com:trivialsec/feed-processor-darklist.git
